/*Universal*/
.border {
  border: 1px solid #000;
}
body {
  background-color: #000;
}
/*Container Styles*/
.master {
  height: 800px;
  margin: 1%;
  background-color: #ffff00;
}
/*Header Styles*/
.header {
  height: 150px;
  background-color: #453267;
}
/*Nav Styles*/
.nav {
  height: 75px;
  background-color: #e40007;
}
/*Content Styles*/
.content {
  height: 200px;
  background-color: #0000ff;
}

.aside {
  height: 200px;
  background-color: #00ff00;
}
/*Promo Syles*/
.promo {
  height:100px;
  background-color: #487356;
}
/*Footer Styles*/
.footer {
  height: 150px;
  background-color: #264359;
}

.green {
  height: 200px;
  background-color: green;
}
.blue {
  height: 100px;
  background-color: blue;
}

.col-sm-1 {
  height: 100px;
  background-color: #ff0000;
  border: 1px solid #000;
}

.left {
  height: 300px;
  background-color: #000;
  border: 1px solid #ff00ff;
}

.right {
  height: 300px;
  background-color: #ffff00;
  border: 1px solid #fff;
}

/*Media queries starts*/

@media /*<--rule*/ screen /*<-- media*/ and (min-width: 600px) {
.right {
    background-color: #fff;
  }
}
